#resalat_container{
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

#resalat_form_inputs{
    display: flex;
    flex-direction: column;
}

.resalat_results{
    display: flex;
    justify-content: space-between;
}

.text_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text_input input{
    width: 60%;
}

.text_input label{
    width: 40%;
    text-align: right;
}