#resalat_container_wrapper{
    container-type: inline-size;
    container-name: resalat_container;
}

#resalat_container{
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding: 56px;
    border: 1px solid #74797f;
    border-radius: 40px;
    white-space: wrap;
}

#resalat_form{
    width: 50%;
}

#resalat_form_inputs{
    display: flex;
    flex-direction: column;
}

/*** result section ***/

.resalat_results{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 56px;
}

.result_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result_row p:last-of-type{
    font-size: 14px;
}

.result_row span{
    font-size: 20px;
    font-weight: bolder;
}

/*** ange input attr ***/

.input_label{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
}

.input_label label{
    font-weight: bolder;
}

.input_label span{
    font-weight: bolder;
}

.text_input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.text_input input{
    width: 100%;
    border-radius: 5px;
}

.error_span{
    color: red;
}

.range_span{
    display: flex;
    justify-content: space-between;
}

.range_span span{
    color: #44474e;
    font-size: 16px;
}

#resalat_calc_type{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #e5f0ff;
    padding: 16px;
    border-radius: 32px;
}

.resalat_calc_type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#resalat_calc_type input{
    display: none;
}

#resalat_calc_type label{
    background-color: #f5faff;
    border-radius: 16px;
    cursor: pointer;
    margin: 0 5px;
}

#resalat_calc_type label:has(input:checked){
    border: 1px solid #2d5da7;
}

.display_range{
    color: #2d5da7;
    white-space: nowrap;
    font-size: 16px;
}

.display_range span{
    font-size: 20px;
}

hr{
    width: 100%;
    background: #74797f;
}

/*** range inputs ***/

#resalat_form_inputs input[type='range']{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
}

#resalat_form_inputs input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #2d5da7;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-top: -9px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#resalat_form_inputs input[type='range']:hover::-webkit-slider-thumb{
    box-shadow: 0 0 0 4px #2d5ea75c;
}

#resalat_form_inputs input[type='range']::-webkit-slider-runnable-track{
    background: #ccc;
    height: 2px;
}

#resalat_form_inputs input[type='range']::-moz-range-thumb{
    -moz-appearance: none;
    background-color: #2d5da7;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-top: -9px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#resalat_form_inputs input[type='range']::-moz-range-track{
    background: #ccc;
    height: 2px;
}

#resalat_form_inputs input[type='range']:hover::-moz-range-thumb{
    box-shadow: 0 0 0 4px #2d5ea75c;
}

#resalat_form_inputs input[type='range']::-moz-range-progress{
    background: #2d5da7;
}

/*** responsive ***/

@container resalat_container (max-width: 826px){
    #resalat_container{
        padding: 10px;
    }

    .resalat_results{
        margin-right: 20px;
    }

    /*#resalat_form, .resalat_results{
        width: 100%;
        margin-right: 0;
    }*/
}

@container resalat_container (max-width: 500px){
    #resalat_container{
        flex-direction: column;
        padding: 24px 16px;
        font-size: 16px;
    }

    .resalat_results{
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }

    #resalat_form{
        width: 100%;
    }

    .result_row p:last-of-type{
        font-size: 12px;
    }

    .result_row span{
        font-size: 16px;
        font-weight: bolder;
    }

    .range_span span{
        font-size: 10px;
    }

    .display_range{
        font-size: 12px;
    }

    .display_range span{
        font-size: 16px;
    }
}