#loan_calculator_container{
    container-type: inline-size;
    container-name: loan_calculator_container;
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: right;
    font-size: 14px;
    accent-color: #78bd20;
}

.loan_form_container{
    width: 50%;
    padding: 10px;
}

.loan_result_container{
    width: 50%;
    padding: 10px;
}

#loan_form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#loan_form input{
    text-align: center;
    outline: none;
}

.input_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input_title, .input_span{
    display: flex;
    justify-content: space-between;
}

.input_span{
    color: #ccc;
}

.input_title>p{
    width: 20%;
    margin: 0;
    border: 1px solid #888;
    border-radius: 6px;
    padding: 2px 10px;
    text-align: left;
}

.input_title>p>span{
    float: right;
}

.fee_radio_input{
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#mehr_submit_button{
    outline: none;
    background: #78bd20;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
}

/*** result section ***/

#loan_result_table{
    width: 100%;
    border: none;
    border-collapse: collapse;
}

#loan_result_table>thead{
    width: 100%;
    padding: 0;
    margin: 0;
}

#loan_result_table>thead>tr{
    background: #78bd20;
    width: 100%;
    padding: 20px;
    margin: 0;
    border-radius: 6px;
}

#loan_result_table th:first-child{
  border-radius: 0 6px 0 0;
}

#loan_result_table th:last-child{
  border-radius: 6px 0 0 0;
}

th{
    color: white;
    text-align: center;
    width: 15%;
    padding: 10px;
}

th:last-of-type{
    width: 70%;
}

td{
    text-align: center;
    padding: 10px;
}

th:last-of-type, td:last-of-type{
    text-align: right;
    max-width: max-content;
}

tr{
    background: #f4f3ef;
}

tr:nth-child(odd){
    background: #c7dbd2;
}