#loan_calculator_container{
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: white;
    text-align: center;
}

#loan_form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.loan_calculator_section1{
    background: #1e76bf;
    width: 33%;
    height: 100%;
    padding: 10px auto;
    padding: 10px;
}

.loan_calculator_section2{
    background: #1562a2;
    width: 33%;
    height: 100%;
    padding: 10px;
}

.loan_calculator_section3{
    background: #012846;
    width: 33%;
    height: 100%;
    padding: 10px;
}

.loan_radio_input{
    display: none;
}

.loan_radio_label{
    padding: 5px;
    margin: 0;
    font-size: 14px;
}

/*** section 1 radio inputs ***/

.section1_select{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.section1_select_option{
    width: 50%;
    margin: 0;
}

.section1_select_option:last-of-type{
    border-right: 1px solid white;
}

.section1_select_option:has(.loan_radio_input:checked){
    background: #012846;
}

/*** section 2 radio inputs ***/

