#loan_calculator_container{
    container-type: inline-size;
    container-name: loan_calculator_container;
    direction: rtl;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 20px;
    white-space: nowrap;
}

#loan_form{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#loan_form input{
    text-align: center;
}

label{
    display: block;
    width: 100%;
    text-align: right;
    padding: 5px;
}

/*** section 1 ***/

.loan_calculator_section1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1e76bf;
    width: 33%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.section_select{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 40px;
    overflow: hidden;
}

.section_select_option{
    width: 50%;
    margin: 0;
    border-right: 1px solid white;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.section_select_option:first-of-type{
    border-right: none;
}

.section_select_option:has(.loan_radio_input:checked){
    background: #012846;
}

#display_price{
    direction: ltr;
    color: white;
    background: #1e76bf;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    text-align: left !important;
    box-sizing: border-box;
    font-size: 16px;
}

#display_price:focus{
    border: 1px solid white;
    outline: none;
}

#error{
    height: 10px;
    color: red;
    margin: 20px 0;
}

.loan_radio_input{
    display: none;
}

/*** section 2 ***/

.loan_calculator_section2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #1562a2;
    width: 33%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.loan_calculator_section2>div{
    margin-top: 20px;
}

.loan_calculator_section2 .section_select_option{
    padding: 10px;
}

.input_container .date_span, .input_container .time_span{
    color: yellow;
}

.loan_range_span{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
}

.loan_range_span span{
    position: relative;
    padding-top: 5px;
}

.loan_range_span span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 40%;
  width: 1px;
  height: 10px;
  background: #b3b3b3;
}

.input_container{
    display: flex;
    flex-direction: column;
}

.input_container label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input_container p{
    margin: 0;
}

.range_input{
    -moz-appearance: none;
    width: 100%;
    accent-color: #ff5500;
    background: transparent;
    cursor: pointer;
}

/*** webkit input range ***/

.range_input::-webkit-slider-thumb{
    border-radius: 50px;
    box-shadow: 0 0 0 0 #ff55003c;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.range_input:hover::-webkit-slider-thumb{
    box-shadow: 0 0 0 7px #ff55003c;
}

.range_input:active::-webkit-slider-thumb{
    box-shadow: 0 0 0 10px #ff55003c;
}

/*** mozilla input range ***/

.range_input::-moz-range-progress{
    height: 8px;
    background: #ff5500;
    border-radius: 8px;
}

.range_input::-moz-range-track{
    background: #ccc;
    height: 8px !important;
    border-radius: 8px;
    border: 0;
    padding: 0;
}

.range_input::-moz-range-thumb{
    background: #ff5500;
    border-radius: 50px;
    box-shadow: 0 0 0 0 #ff55003c;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.range_input:hover::-moz-range-thumb{
    box-shadow: 0 0 0 7px #ff55003c;
}

.range_input:active::-moz-range-thumb{
    box-shadow: 0 0 0 10px #ff55003c;
}

/*** section 3 ***/

.loan_calculator_section3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #012846;
    width: 33%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.loan_section3_key{
    float: inline-start;
    margin: 0;
}

.loan_section3_value{
    float: inline-end;
    margin: 0;
}

.loan_calculator_section3>div{
    border-bottom: 1px solid #ffffff36;
    padding-bottom: 10px;
}

.loan_calculator_section3>div:last-of-type{
    border: none;
}

/*** responsive ***/

@container loan_calculator_container (max-width: 1024px){
    #loan_form{
        flex-direction: column;
    }

    #loan_form>div{
        width: 100%;
    }

    .price_input_container{
        margin-top: 20px;
    }

    .loan_calculator_section2{
        flex-direction: row;
        justify-content: space-between;
    }

    .loan_calculator_section2>div{
        margin-top: auto;
        width: 30%;
    }
}

@container loan_calculator_container (max-width: 826px){
    .loan_calculator_section2{
        flex-direction: column;
    }

    .loan_calculator_section2>div{
        margin-top: 20px;
        width: 100%;
    }

    .loan_calculator_section2>div:first-of-type{
        margin-top: 0;
    }
}

@container loan_calculator_container (max-width: 400px){
    *{
        font-size: 14px;
        flex-wrap: nowrap;
    }

    .section_select_option{
        font-size: 12px;
    }
}